.mystore{
    color: royalblue;
    font-weight: bold;
}
.last p{
    text-align: center;
    margin-bottom: 2px;
}
.fa-umb{
    color: tomato ;
}
.fa-fb{
    color: #2894FF;
}
.fa-tw{
    color: #84C1FF;
}
.fa-ins{
    color: 	#004B97;
}
.fa-yt{
    color: 	#FF2D2D;
}
.topTitle{
    text-align: center;
}
.item2{
    text-align: center;
    align-self: center;
}
.item{
    text-align: center;
    align-self: flex-end;
}